* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

body {
  touch-action: none;
  color: #000;
  background: #fff;
  --mask-background-image: none;
}
